.navbar {
  /* position: absolute;
  top: 15%; */
  width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  z-index: 100;
  /* opacity: 0.1; */
}

.navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* .sticky + .content {
  padding-top: 60px;
} */

.navbar > div {
  height: 100px;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid black;
  background: white;
}

.navbar > div > div > img {
  height: 80%;
  cursor: pointer;
}

.navbar > div > div {
  margin-top: 20px;
}

.navbar > div > div > input {
  width: 300px;
  height: 100%;
  border: 0;
}

.navbar > div > div > input:focus {
  outline: none;
}

.navbar > div > div:nth-child(2) {
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.79);
  padding: 0 10px;
  margin-top: 30px;
  background-color: white;
}

.account {
  width: 200px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.account > div {
  display: flex;
  gap: 10px;
}

.navbar-II {
  background: white;
}

.navbar-II > ul {
  display: flex;
  list-style: none;
  padding: 0px 0px 0px 120px;
  gap: 30px;
  opacity: 0.7;
}

.navbar-II > ul > li {
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0 5px;
}

.navbar-II > ul > li:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.content {
  height: 1000px;
}
